<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/general.css" >
        <link rel="stylesheet" href="../../assets/css/carreras.css">
        <title>Tecnicatura Superior en Acompañamiento Terapéutico</title>
    </head>
    <body>
        <header>
            <div class="logos">
                <img src="../../assets/img/cabecera-proyectos-c.png" alt=" Logo del ISFT151">
                <img src="../../assets/img/logo-verde.png" alt="Logo del ISFT151">
            </div>
            
            <h1 class="carrera-title">Tecnicatura Superior en Acompañamiento Terapéutico </h1>
        </header>

        <main>
            <h2> Descripción de la carrera</h2>
            <p class="carrera-description"> Nuestra Tecnicatura de Acompañante Terapéutico te capacita para apoyar a personas con desafíos de salud mental y crisis fuera del entorno tradicional de tratamiento.
                Los Acompañantes Terapéuticos colaboran con equipos interdisciplinarios para fomentar la integración social y la autonomía de los pacientes, evitando hospitalizaciones innecesarias.
                Además, asesoran y orientan a otros Acompañantes Terapéuticos y trabajan en estrecha colaboracion con profesionales de la salud. 
                ¡Únete a nosotros y comienza tu carrera en Acompañante Terapéutico!
            </p>

            <h2>Plan de Estudio</h2>
            <ul>
                <li><a class= "enlace-blanco" href="../../assets/plan-estudio/tecnicatura-superior-en-acompañante-terapeutico.pdf" target="_blank"> Descargar Plan de Estudio - Tecnicatura Superior en Acompañamiento Terapéutico</a></li>
            </ul>

            <h2> Formulario de inscripción</h2>
            <a id="carrera-form" href="#"> Inscribirse en Tecnicatura Superior en Acompañamiento Terapéutico</a>
        </main>

        <footer>
            <p>&copy; 2023 ISFT151 - Instituto Superior de Formación Técnica</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>