<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/general.css" >
        <link rel="stylesheet" href="../../assets/css/carreras.css">
        <title>Tecnicatura Superior en Análisis de Sistemas</title>
    </head>
    <body>
        <header>
            <div class="logos">
                <img src="../../assets/img/cabecera-proyectos-c.png" alt=" Logo del ISFT151">
                <img src="../../assets/img/logo-verde.png" alt="Logo del ISFT151">
            </div>
        
            <h1 class="carrera-title">Tecnicatura Superior en Análisis de Sistemas </h1>
        </header>

        <main>
            <h2> Descripción de la carrera</h2>
            <p class="carrera-description">Nuestra Tecnicatura de Analista de Sistemas te preapara para adentrarte en el mundo de la informática.
                Aprenderás a comprender y diseñar sistemas informáticos que son fundamentales para la gestión de datos y la toma de decisiones en organizaciones de todo tipo,
                te formarás en diagnóstico de problemas, diseño de soluciones informáticas y gestión de proyectos de desarrollo. Adquirirás habilidades en informática, programacion y
                software, lo que te permitirá trabajar en una amplia gama de sectores. 
                ¡Únete a nosotros y comienza tu carrera en Analista de Sistemas!
            </p>

            <h2>Plan de Estudio</h2>
            <ul>
                <li><a class= "enlace-blanco" href="../../assets/plan-estudio/tecnicatura superior en analisis de sistemas.pdf" target="_blank"> Descargar Plan de Estudio - Tecnicatura Superior en Análisis de Sistemas</a></li>
            </ul>

            <h2> Formulario de inscripción</h2>
            <a id="carrera-form" href="#"> Inscribirse en Tecnicatura Superior en Análisis de Sistemas</a>
        </main>

        <footer>
            <p>&copy; 2023 ISFT151 - Instituto Superior de Formación Técnica</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>