<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/general.css" >
        <link rel="stylesheet" href="../../assets/css/carreras.css">
        <title>Tecnicatura Superior en Emergencias de Salud</title>
    </head>
    <body>
        <header>
            <div class="logos">
                <img src="../../assets/img/cabecera-proyectos-c.png" alt=" Logo del ISFT151">
                <img src="../../assets/img/logo-verde.png" alt="Logo del ISFT151">
            </div>
            
            <h1 class="carrera-title">Tecnicatura Superior en Emergencias de Salud </h1>
        </header>

        <main>
            <h2> Descripción de la carrera</h2>
            <p class="carrera-description">Nuestra Tecnicatura Superior en Emergencias de la Salud se dedica a formar profesionales capaces de enfrentar emergencias y desastres.
                Estos eventos, que van desde accidentes de tráfico hasta siniestros viales y muertes súbitas, requieren una respuesta efectiva. 
                Los técnicos aprenderán a gestionar recursos, operar comunicaciones, organizar logística sanitaria y brindar soporte vital, entre otras habilidades. 
                La formación se adapta a distintos escenarios y desafíos locales.
                ¡Únete a nosotros y comienza tu carrera en Emergencias de Salud!
            </p>

            <h2>Plan de Estudio</h2>
            <ul>
                <li><a class= "enlace-blanco" href="../../assets/plan-estudio/tecnicatura-superior-en-emergencias-de-salud.pdf" target="_blank"> Descargar Plan de Estudio - Tecnicatura Superior en Emergencias de Salud</a></li>
            </ul>

            <h2> Formulario de inscripción</h2>
            <a id="carrera-form" href="#"> Inscribirse en Tecnicatura Superior en Emergencias de Salud</a>
        </main>

        <footer>
            <p>&copy; 2023 ISFT151 - Instituto Superior de Formación Técnica</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>