<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/general.css" >
        <link rel="stylesheet" href="../../assets/css/carreras.css">
        <title>Tecnicatura Superior en Logística</title>
    </head>
    <body>
        <header>
            <div class="logos">
                <img src="../../assets/img/cabecera-proyectos-c.png" alt=" Logo del ISFT151">
                <img src="../../assets/img/logo-verde.png" alt="Logo del ISFT151">
            </div>
           
            <h1 class="carrera-title">Tecnicatura Superior en Logística </h1>
        </header>

        <main>
            <h2> Descripción de la carrera</h2>
            <p class="carrera-description">Nuestra Tecnicatura Superior en Logística te forma para liderar la gestion del flujo de materiales y servicios en empresas.
                Aprenderás a optimizar procesos, tomar decisiones, y coordinar la cadena de suministro, desde proveedores hasta clientes. 
                La logísitica es esencial en el mundo empresarial actual, y nuestro programa te prepara para el éxito en este área. Tu perfil será el de un profesional versátil, creativo, y
                capaz de adaptarse a los cambios constantes en la industria.
             ¡Únete a nosotros y comienza tu carrera en Logística! </p>

            <h2>Plan de Estudio</h2>
            <ul>
                <li><a class= "enlace-blanco" href="../../assets/plan-estudio/tecnicatura superior en  logistica.pdf" target="_blank"> Descargar Plan de Estudio - Tecnicatura Superior en Logística</a></li>
            </ul>

            <h2> Formulario de inscripción</h2>
            <a id="carrera-form" href="#"> Inscribirse en Tecnicatura Superior en Logística</a>
        </main>

        <footer>
            <p>&copy; 2023 ISFT151 - Instituto Superior de Formación Técnica</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>