<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/general.css" >
        <link rel="stylesheet" href="../../assets/css/carreras.css">
        <title>Tecnicatura Superior en Textil e Indumentaria</title>
    </head>
    <body>
        <header>
            <div class="logos">
                <img src="../../assets/img/cabecera-proyectos-c.png" alt=" Logo del ISFT151">
                <img src="../../assets/img/logo-verde.png" alt="Logo del ISFT151">
            </div>
            
            <h1 class="carrera-title">Tecnicatura Superior en Textil e Indumentaria </h1>
        </header>

        <main>
            <h2> Descripción de la carrera</h2>
            <p class="carrera-description">Nuestra tecnicatura Superior en Textil e Indumentaria se adapta a los cambios en la industria textil, preparando profesionales para competir a nivel mundial y satisfacer las demandas de productos de alta calidad.
                Cubrimos áreas como diseño, producción y comercialización, enfocándonos en la preparación para trabajar en equipos flexibles y adaptarse a las nuevas estrategias de la industria.
                Cumplimos con el marco legal y ofrecemos un plan de estudios modular para preparar a los estudiantes para el mercado laboral altamente competitivo. 
            ¡Únete a nosotros y comienza tu carrera en Textil e Indumentaria! </p>

            <h2>Plan de Estudio</h2>
            <ul>
                <li><a class= "enlace-blanco" href="../../assets/plan-estudio/tecnicatura superior textil e indumentaria.pdf" target="_blank"> Descargar Plan de Estudio - Tecnicatura Superior en Textil e Indumentaria</a></li>
            </ul>

            <h2> Formulario de inscripción</h2>
            <a id="carrera-form" href="#"> Inscribirse en Tecnicatura Superior en Textil e Indumentaria</a>
        </main>

        <footer>
            <p>&copy; 2023 ISFT151 - Instituto Superior de Formación Técnica</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>