<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/general.css" >
        <link rel="stylesheet" href="../../assets/css/carreras.css">
        <title>Tecnicatura Superior en Turismo</title>
    </head>
    <body>
        <header>
            <div class="logos">
                <img src="../../assets/img/cabecera-proyectos-c.png" alt=" Logo del ISFT151">
                <img src="../../assets/img/logo-verde.png" alt="Logo del ISFT151">
            </div>
            
            <h1 class="carrera-title">Tecnicatura Superior en Turismo </h1>
        </header>

        <main>
            <h2> Descripción de la carrera</h2>
            <p class="carrera-description">Nuestra Tecnicatura en Turismo forma profesionales capaces de comprender y anticipar las complejidades del sistema turístico. 
                Los estudiantes aprenden a evaluar y desarrollar proyectos turísticos sostenibles, considerando aspectos sociales, culturales, económicos y ambientales.
                Están preparados para liderar y gestionar emprendimientos tanto en el sector público como en el privado, cumpliendo con estándares éticos y legales. 
                La formación promueve el pensamiento crítico y la resolución de conflictos a través de fundamentos científicos y tecnológicos. 
            ¡Únetea nosotros y comienza tu carrera en Turismo!</p>

            <h2>Plan de Estudio</h2>
            <ul>
                <li><a class= "enlace-blanco" href="../../assets/plan-estudio/tecnicatura-superior-en-turismo.pdf" target="_blank"> Descargar Plan de Estudio - Tecnicatura Superior en Turismo</a></li>
            </ul>

            <h2> Formulario de inscripción</h2>
            <a id="carrera-form" href="#"> Inscribirse en Tecnicatura Superior en Turismo</a>
        </main>

        <footer>
            <p>&copy; 2023 ISFT151 - Instituto Superior de Formación Técnica</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>